<main class="my-10 mx-28">
  <h1 class="text-2xl font-bold">TNS Test</h1>
  <div class="flex justify-between items-center">
    <div class="flex gap-x-2 mt-10 mb-5">
      <button
        (click)="switchView('department')"
        [ngClass]="
          currentView === 'department'
            ? 'px-4 py-2 rounded bg-blue-500 text-white hover:bg-blue-600'
            : 'px-4 py-2 rounded bg-gray-200 hover:bg-gray-300'
        "
      >
        Departments
      </button>
      <button
        (click)="switchView('user')"
        [ngClass]="
          currentView === 'user'
            ? 'px-4 py-2 ml-2 rounded bg-blue-500 text-white hover:bg-blue-600'
            : 'px-4 py-2 ml-2 rounded bg-gray-200 hover:bg-gray-300'
        "
      >
        Users
      </button>
    </div>
    <button
      *ngIf="currentView === 'department'"
      (click)="toggleForm()"
      class="px-4 py-2 rounded bg-blue-600 text-white hover:bg-blue-700"
    >
      + Add Department
    </button>
    <button
      *ngIf="currentView === 'user'"
      (click)="toggleForm()"
      class="px-4 py-2 rounded bg-blue-600 text-white hover:bg-blue-700"
    >
      + Add User
    </button>
  </div>

  <div>
    <ng-container *ngIf="currentView === 'department'; else userBlock">
      <app-department-list></app-department-list>
      <app-department-form [isOpen]="isFormOpen" ></app-department-form>
    </ng-container>
    <ng-template #userBlock>
      <app-user-list></app-user-list>
      <app-user-form></app-user-form>
    </ng-template>
  </div>
</main>
