<main class="my-10 mx-28">
  <h1 class="text-2xl font-bold">TNS Test</h1>
  <div class="flex justify-between items-center">
    <div class="flex gap-x-2 mt-10 mb-5">
      <button
        (click)="switchView('department')"
        [ngClass]="
          currentView === 'department'
            ? 'px-4 py-2 rounded bg-blue-500 text-white hover:bg-blue-600'
            : 'px-4 py-2 rounded bg-gray-200 hover:bg-gray-300'
        "
      >
        Departments
      </button>
      <button
        (click)="switchView('user')"
        [ngClass]="
          currentView === 'user'
            ? 'px-4 py-2 ml-2 rounded bg-blue-500 text-white hover:bg-blue-600'
            : 'px-4 py-2 ml-2 rounded bg-gray-200 hover:bg-gray-300'
        "
      >
        Users
      </button>
    </div>
    <button
      *ngIf="currentView === 'department'"
      (click)="toggleForm()"
      class="px-4 py-2 rounded bg-blue-600 text-white hover:bg-blue-700"
    >
      + Add Department
    </button>
    <button
      *ngIf="currentView === 'user'"
      (click)="toggleForm()"
      class="px-4 py-2 rounded bg-blue-600 text-white hover:bg-blue-700"
    >
      + Add User
    </button>
  </div>

  <div>
    <ng-container *ngIf="currentView === 'department'; else userBlock">
      <app-department-list></app-department-list>
    </ng-container>
    <ng-template #userBlock>
      <app-user-list></app-user-list>
    </ng-template>

    <div
      *ngIf="isFormOpen"
      class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
    >
      <div class="bg-white rounded-lg shadow-lg w-full max-w-md">
        <!-- Header -->
        <div class="flex justify-between items-center border-b px-4 py-2">
          <h5 class="text-lg font-semibold">
            {{ currentView === "department" ? "Add Department" : "Add User" }}
          </h5>
          <button
            class="text-gray-500 hover:text-gray-700"
            (click)="toggleForm()"
          >
            ✕
          </button>
        </div>

        <!-- Body -->
        <div class="p-4">
          <ng-container *ngIf="currentView === 'department'; else userForm">
            <app-department-form></app-department-form>
          </ng-container>
          <ng-template #userForm>
            <app-user-form></app-user-form>
          </ng-template>
        </div>

        <!-- Footer -->
        <div class="flex justify-end gap-2 border-t px-4 py-2">
          <button
            class="px-4 py-2 bg-gray-200 rounded hover:bg-gray-300"
            (click)="toggleForm()"
          >
            Cancel
          </button>
          <button
            class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
